* {
  box-sizing: border-box;
}

body {
  margin-top: 0px;
}

.svg-container {
  width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}


ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none; 
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

/* Background */

:root{
  --orbit: 1rem;
  --dia: calc((var(--orbit)/2) * -1);
  --mercury_o: 1;
  --mercury_orbit: calc(var(--orbit) * var(--mercury_o));
  --mercury_dia: calc(var(--dia) * var(--mercury_o));
  --venus_o: 2.1;
  --venus_orbit: calc(var(--orbit) * var(--venus_o));
  --venus_dia: calc(var(--dia) * var(--venus_o));
  --earth_o: 3.75;
  --earth_orbit: calc(var(--orbit) * var(--earth_o));
  --earth_dia: calc(var(--dia) * var(--earth_o));
  --mars_o: 5.2;
  --mars_orbit: calc(var(--orbit) * var(--mars_o));
  --mars_dia: calc(var(--dia) * var(--mars_o));
  --jupiter_o: 18;
  --jupiter_orbit: calc(var(--orbit) * var(--jupiter_o));
  --jupiter_dia: calc(var(--dia) * var(--jupiter_o));
  --saturn_o: 32;
  --saturn_orbit: calc(var(--orbit) * var(--saturn_o));
  --saturn_dia: calc(var(--dia) * var(--saturn_o));
  --uranus_o: 65;
  --uranus_orbit: calc(var(--orbit) * var(--uranus_o));
  --uranus_dia: calc(var(--dia) * var(--uranus_o));
  --neptune_o: 100;
  --neptune_orbit: calc(var(--orbit) * var(--neptune_o));
  --neptune_dia: calc(var(--dia) * var(--neptune_o));
}  

body {
  background-color: white;
}

@media only screen and (max-width: 280px) {
  #mobile {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
   
  .remote-meeting {
    margin-top: 3vh;
  }

  .title {
    font-family: 'Roboto';
  }

  .subtitle {
    font-family: 'Roboto';
    margin-top: 0.5vh;
  }

  .new-meeting {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: #3343F8;
    width: 270px;
    border: none;
  }

  label {
    width: 270px;
  }

  input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px !important;
  }

  .join-meeting {
    font-family: 'Roboto';
    font-style: normal;
    color: white;
    width: 270px;
    padding: 0 auto;
  }
}

@media only screen and (min-width: 281px) and (max-width: 425px) {

  #mobile {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
   
  .remote-meeting {
    margin-top: 3vh;
  }

  .title {
    font-family: 'Roboto';
  }

  .subtitle {
    font-family: 'Roboto';
    margin-top: 0.5vh;
  }

  .new-meeting {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: #3343F8;
    width: 300px;
    border: none;
    padding-left: 28px
  }

  label {
    width: 300px;
  }

  input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
  }

  .join-meeting {
    font-family: 'Roboto';
    font-style: normal;
    color: white;
    width: 300px;
    padding: 0 auto;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {

  #tablet {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .title {
    font-family: 'Roboto';
  }

  .subtitle {
    font-family: 'Roboto';
    margin-top: 0.5vh;
  }
   
  .new-meeting {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: #3343F8;
    width: 480px;
    border: none;
  }

  label {
    width: 480px;
  }

  input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    padding-left: 84px;
  }

  .join-meeting {
    font-family: 'Roboto';
    font-style: normal;
    color: white;
    width: 480px;
    padding: 0 auto;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1180px) {
  #desktop {
    display: flex;
    justify-content: center;
    background-color: #3343F8;
    width: 769px;
    margin: 0 auto;
    padding-left: 20px;
  }

  .connect {
    width: 350px !important;
  }

  video {
    width: 350px !important;
    margin-right: 20px;
  }

  .text-yellow {
    color: #FCD41B
  }

  .otp-text {
    font-size: 24px !important;
  }

  input {
    font-size: 32px !important;
    background:#FCD41B;
    border-spacing: 2px;
    border-radius: 4px;
    margin-right: 6px;
    color: #3343F8 !important;
    font-weight: 700;
    
  }

  .otp-input {
    margin-right: 1px;
  }

  .otp-input:nth-child(3) {
    margin-right: 10px;
  }

  .otp-input:nth-child(6) {
    margin-right: 10px;
  }

  .otp-generator {
    width: 80%
  }
}

@media only screen and (min-width: 1181px) and (max-width: 1439px) {
  
  #desktop {
    display: flex;
    justify-content: center;
    background-color: #3343F8;
    width: 1181px;
    margin: 0 auto;
    padding-left: 20px;
  }

  video {
    margin-right: 20px;
  }

  .text-yellow {
    color: #FCD41B
  }

  input {
    font-size: 60px;
    background:#FCD41B;
    border-spacing: 2px;
    border-radius: 4px;
    margin-right: 6px;
    color: #3343F8 !important;
    font-weight: 700;
  }

  .otp-input {
    margin-right: 1px;
  }

  .otp-input:nth-child(3) {
    margin-right: 10px;
  }

  .otp-input:nth-child(6) {
    margin-right: 10px;
  }

  .otp-generator {
    width: 80%
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  
  #desktop {
    display: flex;
    justify-content: center;
    background-color: #3343F8;
    width: 1440px;
    margin: 0 auto;
    padding-left: 90px;
  }

  video {
    margin-right: 132px;
  }

  .text-yellow {
    color: #FCD41B
  }

  input {
    font-size: 60px;
    background:#FCD41B;
    border-spacing: 2px;
    border-radius: 4px;
    margin-right: 6px;
    color: #3343F8 !important;
    font-weight: 700;
  }

  .otp-input {
    margin-right: 3px;
  }

  .otp-input:nth-child(3) {
    margin-right: 24px;
  }

  .otp-input:nth-child(6) {
    margin-right: 24px;
  }

  .otp-generator {
    width: 80%
  }
}

@media only screen and (min-width: 1920px) {
  #desktop {
    display: none;
  }

  #tv {
    display: flex;
    justify-content: center;
    background-color: #3343F8;
  }
}

